<header class="site-head">
    <div class="vertical">
        <div class="site-head-content inner">
            <div class="left">
                <div class="blog-cover" style="background-image: url({{ site.me_image }})">Blog Cover Image</div>
            </div>
            <div class="right">
                <h1 class="blog-title">{{ site.title }}</h1>
                <div class="blog-social">
                     <a href="http://www.twitter.com/israelmgo" target="_blank"><i class="fa fa-twitter"></i></a>
                     <a href="http://instagram.com/israelmgo" target="_blank"><i class="fa fa-instagram"></i></a>
                     <a href="https://plus.google.com/+IsraelMontero" target="_blank"><i class="fa fa-google-plus"></i></a>
                     <a href="http://www.github.com/israelmgo" target="_blank"><i class="fa fa-github"></i></a>
                     <a href="http://israelmgo.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a>
                </div>
                <h2 class="blog-description">{{ site.description }}</h2>
                <div class="head-links">
                    {% if page.is_home == 'true' %}{% else %}<a href="/">Home</a> · {% endif %}<a href="/about">About</a> · <a href="/blog/">Blog</a> · <a href="mailto:israelmgo@gmail.com">Escribeme</a>
                </div>
            </div>
        </div>
    </div>
</header>

