---
layout: default
---

<div id="post" itemscope="" itemtype="http://schema.org/BlogPosting">

	{% if page.photo %}
	<div class="post_photo">
		<img src="{{ page.photo }}" alt="{{ page.title | escape }}" itemprop="image"/>
	</div>
	{% endif %}

	{% if page.media %}
{{ page.media }}
	{% endif %}

	<h1 itemprop="name">{{ page.title }}</h1>
  <p class="meta">
    <i class="fa fa-calendar"></i> <time datetime="{{page.date | date: "%d-%m-%Y"}}" itemprop="datePublished">Publicado el {{ page.date | date: "%-d %B %Y" }}</time>
    <i class="fa fa-comments"></i> <a href="#comments">Commentarios</a>
    <i class="fa fa-clock-o"></i> 
    {% capture words %}
      {{ page.content | number_of_words | minus: 250 }}
    {% endcapture %}
    {% unless words contains "-" %}
      {{ words | plus: 250 | divided_by: 180 | append: " min. de lectura" }}
    {% endunless %}
  </p>
	<div itemprop="articleBody">
		{{ content }}
	</div>

  <div class="share">
            <p class="info prompt">Comparte este Post</p>
            <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fa fa-2x fa-fw fa-twitter"></i> <span class="hidden">Twitter</span>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <i class="fa fa-2x fa-fw fa-facebook-square"></i> <span class="hidden">Facebook</span>
            </a>
            <a href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <i class="fa fa-2x fa-fw fa-google-plus-square"></i> <span class="hidden">Google+</span>
            </a>
  </div>

	<div class="clearfix"></div>

	<div id="page-navigation"> 
		<div class="clearfix">&nbsp;</div> 
		<div class="pull-left"> 
			{% if page.previous.url %} 
			<a href="{{page.previous.url}}" title="Previous Post: 
				{{page.previous.title}}"><i class="fa fa-angle-double-left"></i> {{page.previous.title}}</a> 
			{% endif %} 
		</div> 

		<div class="pull-right"> 
			{% if page.next.url %} 
			<a href="{{page.next.url}}" title="next Post: 
				{{page.next.title}}">{{page.next.title}} <i class="fa fa-angle-double-right"></i></a> 
			{% endif %} 
		</div> 
		<div class="clearfix">&nbsp;</div> 
	</div> 

	<div id="footer" class="text-muted">
		<div class="pull-right">
			<i class="icon-tags"></i> {{ page.categories | join: ', ' }}
		</div>
		Publicado por 
		<span itemprop="author">
			Israel Montero
		</span>
		— 
		<time datetime="{{ page.date | date_to_xmlschema}}" itemprop="datePublished">{{ page.date | date_to_string }}</time>
	</div>
<section id="comments">
  <h2>
    <a class="icon" href="#comments"><icon class="fa fa-link"></li></a>
  	Commentarios
  </h2>
  {% include disqus.html %}
</section>
</div>
